body {
  color: #4c4c00;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffe5; }

.container {
  padding-top: 20px; }

.navbar {
  overflow: hidden;
  padding: 5px 20px;
  font-size: 1.25em;
  border-bottom-color: #ffff7f;
  margin-bottom: 0;
  background-color: #ffffb2; }
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    .navbar {
      text-align: center; } }

.navbar-nav > .coins.active > a,
.navbar-nav > .coins.active > a:hover,
.navbar-nav > .coins.active > a:active,
.navbar-nav > .coins.active > a:focus {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black; }

.navbar-brand {
  display: inline-block;
  width: 3.125em;
  height: 3.1875em;
  background-image: url("../img/logo.png");
  background-size: 100% 100%; }
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    .navbar-brand {
      float: none; } }

.device {
  position: relative; }
  .device .add-form {
    display: flex; }
    .device .add-form input {
      flex-grow: 1;
      font-size: 18px;
      padding: 10px 16px;
      height: 50px; }
  .device .add-desc {
    font-size: 1.25em; }
  .device .device-name {
    font-size: 1.25em; }
  .device i {
    font-size: 2.5em;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center; }
  .device a {
    color: #4c4c00; }

.result-message {
  padding: 20px 0;
  font-size: 1.25em;
  text-align: center; }

.results-list {
  max-height: 1000px;
  overflow: auto; }
  .results-list li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white; }
    .results-list li.fake {
      background-color: #ff4c4c; }
    .results-list li.undefined {
      background-color: #8c8c8c; }
    .results-list li.success {
      background-color: #99cc99; }
  .results-list .result-img {
    height: 6.25em;
    width: 6.25em;
    background-size: cover;
    border-radius: 50%; }
  .results-list .result-content {
    flex-grow: 1; }
  .results-list .result-content-misc {
    display: flex;
    justify-content: space-around; }
  .results-list .result-name {
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .results-list .result-save.disabled {
    background-color: #e5f2e5;
    color: #4c4c00;
    border-color: #e5f2e5; }
  .results-list .result-save.saved {
    background-color: #e5f2e5;
    color: #4c4c00;
    border-color: #e5f2e5;
    cursor: not-allowed; }

.panel-default > .panel-heading {
  color: #4c4c00;
  background-color: #ffffb2;
  border-color: #b2b200; }

.coin {
  font-size: 1.25em; }
  .coin .coin-img {
    width: calc(100% - 40px);
    margin: 20px 20px 0 20px;
    border-radius: 50%; }
  .coin .coin-name {
    text-transform: uppercase;
    text-align: center; }
  .coin .coin-attributes {
    list-style: none;
    padding: 20px 10px; }
  .coin .coin-attributes li {
    font-style: italic; }
  .coin .coin-attribute-title {
    font-weight: bold; }
  .coin .coin-price {
    text-align: center;
    padding-bottom: 10px; }
  .coin .coin-sell {
    width: 100%;
    border-radius: 4px; }
