$browser-context: 16;
$small: 320px;
$large: 768px;

$fake: #ff4c4c;
$undefined: #8c8c8c;
$success: #99cc99;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}

//----------------------------------------------------------------------------------------------------
body {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  overflow: hidden;
  padding: 5px 20px;
  font-size: em(20px);
  @include respond-to(medium-screens) { text-align: center }
}

.navbar-brand {
  display: inline-block;
  width: em(50px);
  height: em(51px);
  background-image: url("../img/logo.png");
  background-size: 100% 100%;
  @include respond-to(medium-screens) { float: none }
}

.device {
  position: relative;

  .device-name {
    font-size: em(20);
  }

  i {
    font-size: em(40px);
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
  }

  a {
    color: black;
  }
}

// -------------------------------RESULTS-------------------------------

.results-list {
  max-height: 1000px;
  overflow: auto;
  li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    &.fake {
      background-color: $fake;
    }
    &.undefined {
      background-color: $undefined;
    }
    &.success {
      background-color: $success
    }
  }

  .result-img {
    height: em(100px);
    width: em(100px);
    background-image: url("http://calm-temple-20803.herokuapp.com/system/results/pics/000/000/001/original/pic3.jpg?1465037919");
    background-size: cover;
    border-radius: 50%;
  }

  .result-content {
    flex-grow: 1;
  }

  .result-content-misc {
    display: flex;
    justify-content: space-around;
  }

  .result-name {
    text-align: center;
    font-size: em(20px);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .result-save {
    &.disabled {
      background-color: #e5f2e5;
      color: black;
      border-color: #e5f2e5;
    }

    &.saved {
      background-color: #e5f2e5;
      color: black;
      border-color: #e5f2e5;
      cursor: not-allowed;
    }
  }

}
// -------------------------------COINS-------------------------------


.coin {
  font-size: em(20);

  .coin-img {
    width: calc(100% - 40px);
    //height: em(200px);
    //width: em(200px);
    margin: 20px 20px 0 20px;
    //background-image: url("../img/coin.jpg");
    //background-size: cover;
    border-radius: 50%;
  }

  .coin-name {
    text-transform: uppercase;
    text-align: center;
  }

  .coin-attributes {
    list-style: none;
    padding: 20px 10px;
  }

  .coin-attributes li {
    font-style: italic;
  }

  .coin-attribute-title {
    font-weight: bold;
  }

  .coin-price {
    text-align: center;
    padding-bottom: 10px;
  }

  .coin-sell {
    width: 100%;
    border-radius: 4px;
  }

}